:root {
  --text-main-color: #fff;
  --text-second-color: #000;
  --main-color: #8b8b8b;
  --second-color: #dadada;
  --third-color: #e6e6e6;
  --fourth-color: #424242;
  --main-bg-color: #3ddc84;
  --second-bg-color: #272727;
  --third-bg-color: #3030303;
}

.root {
  background-color: #202020;
}
