.title {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
}

.line {
  margin: 23px 0 0;
  height: 1px;
  border: none;
  background-color: #dadada;
}

.line_place_portfolio {
  margin: 9px 0 20px;
  background-color: #424242;
}

@media (max-width: 768px) {
  .line_place_portfolio {
    background-color: #e6e6e6;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 18px;
    line-height: 22px;
  }

  .line {
    margin-top: 28px;
  }

  .line_place_portfolio {
    margin-top: 19px;
  }
}
